In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('titanic_ship.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df.tail()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df.isnull().sum()

In [ ]:
(print(687/891*100))

In [ ]:
df.drop(['Cabin'],axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.drop(['Ticket'],axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
df.drop(['PassengerId'],axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
df['Age'].isnull().sum()

In [ ]:
print(177/891*100)

19.865319865319865

In [ ]:
df['Age'].median()

In [ ]:
df['Age'].fillna(28,inplace=True)

In [ ]:
sns.boxplot(df['Age'])
plt.show()

In [ ]:
sns.displot(df['Age'])

In [ ]:
genderwise_survival=df.groupby('Sex')['Survived'].value_counts().unstack()
genderwise_survival=genderwise_survival.plot(kind='bar')
plt.xlabel('Gender')
plt.ylabel('Survived')
plt.xticks(rotation=0)
plt.legend(['Did Not Survive','Survived'])
plt.show()
genderwise_survival = df.groupby(['Sex', 'Survived']).size().unstack()
genderwise_survival_percentage = (genderwise_survival.div(genderwise_survival.sum(axis=1), axis=0)) * 100
print(genderwise_survival_percentage)

In [ ]:
CityWise_survival=df.groupby('Embarked')['Survived'].value_counts().unstack()
CityWise_survival=CityWise_survival.plot(kind='bar')
plt.xlabel('Cities')
plt.ylabel('Survived')
plt.xticks(rotation=0)
plt.legend(['Did Not Survive','Survived'])
plt.show()

In [ ]:
df.info()